<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="../resources/css/footer.css"/>
<script type="text/javascript" src="../resources/javascript/jquery/jquery-2.1.4.min.js">/**/</script>
<style type="text/css">
#fileNamesContainer {
	-webkit-column-count: 4;
	column-count: 4;
}

.fileName {
	color: blue;
	word-wrap: break-word;
	margin-bottom: 10px;
}

.fileName:hover {
	color: black;
	background-color: lightgray;
	cursor: pointer;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

#footer button {
	margin: 0 20px 10px 0;
}
</style>
<script type="text/javascript">
	function initialize() {
		$( document ).ready(function() {
			var frameworksNames = JSON.parse(OxygenAddonBuilder.getframeworksNames("**/frameworks/**/**, *.*"));
			var action = window.location.search.substring(8);
			var frameworksNamesArray = [];
			$.each(frameworksNames[0].children, function(i, item) {
				frameworksNamesArray[i] = item.title;
			});
			var frameworksList = " <div id=\"fileNamesContainer\">";
			$.each(frameworksNamesArray.sort(), function(i, item) {
				var frameworkName = frameworksNamesArray[i];
				frameworksList += "<div class=\"fileName\" onclick=\"OxygenAddonBuilder." + action + "('" + frameworkName + "');\">" + frameworkName + "</div>";
			});
			frameworksList += "</div>";
			$(frameworksList).insertAfter($("body > h2"));
		});		
	}
</script>
</head>
<body onload="window.setTimeout(initialize, 0);">
	<h2>Frameworks</h2>
	<div id="fileNamesContainer"></div>
	<div id="footer">
		<button style="float: right;" onclick="OxygenAddonBuilder.closeDialogWindow();">Close</button>
	</div>
</body>
</html>
