<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="../resources/css/footer.css"/>
<script type="text/javascript" src="../resources/javascript/jquery/jquery-2.1.4.min.js">/**/</script>
<style type="text/css">
	#externalFrameworkNamesContainer, #frameworkNamesContainer {
		-webkit-column-count: 4;
		column-count: 4;
	}
	
	.fileName {
		color: blue;
		word-wrap: break-word;
		margin-bottom: 10px;
	}
	
	.fileName:hover {
		color: black;
		background-color: lightgray;
		cursor: pointer;
	}
	
	#footer {
		position: fixed;
		bottom: 0;
		width: 100%;
	}
	
	#footer button {
		margin: 0 20px 10px 0;
	}
</style>
	<script type="text/javascript">
		function getFrameworkNamesView(frameworkNames, action) {
			var frameworkNamesArray = JSON.parse(frameworkNames)[0].children;
			
			frameworkNamesArray.sort(function(a, b) {
				var nameA = a.title.toUpperCase();
				var nameB = b.title.toUpperCase();
				
				if (nameA < nameB) {
					return -1;
				}
				
				if (nameA > nameB) {
					return 1;
				}
				
				return 0;
			});			
			
			var frameworkNamesList = "";
			
			$.each(frameworkNamesArray, function(i, item) {
				var frameworkName = frameworkNamesArray[i].title;
				var frameworkPath = frameworkNamesArray[i].path;
				
				frameworkNamesList += "<div class=\"fileName\" onclick=\"OxygenAddonBuilder." + action + "('" + frameworkPath + "');\">" + frameworkName + "</div>";
			});
			
			return frameworkNamesList;
		}
		
		function initialize() {
			$(document).ready(function() {
				var action = window.location.search.substring(8);
				
				var externalFrameworkNames = OxygenAddonBuilder.getExternalframeworkNames("**/frameworks/**/**, *.*");
				if (externalFrameworkNames == "[]") {
					externalFrameworkNames = "[{\"children\": []}]";		
				}
				
				var externalFrameworkNamesList = getFrameworkNamesView(externalFrameworkNames, action);
				var frameworkNamesList = getFrameworkNamesView(OxygenAddonBuilder.getframeworkNames("**/frameworks/**/**, *.*"), action);

				$("#externalFrameworkNamesContainer").html(externalFrameworkNamesList);								
				$("#frameworkNamesContainer").html(frameworkNamesList);
			});		
		}
	</script>
</head>
<body onload="window.setTimeout(initialize, 0);">
	<h2>External Frameworks</h2>
	<div id="externalFrameworkNamesContainer"></div>
	<h2>Oxygen Frameworks</h2>
	<div id="frameworkNamesContainer"></div>
	<div id="footer">
		<button style="float: right;" onclick="OxygenAddonBuilder.closeDialogWindow();">Close</button>
	</div>
</body>
</html>
